/* GoogleFonts */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;800&display=swap');

/* Variables */
:root {
  --primary-color: #73a3ec;
  --primary-color-hover: #4a6f91;
  --danger-color: #ff77829f;
  --success-color: #41f1b69c;
  --warning-color: #ffbb55b9;
  --font-color:  #363949;
  --gray-white-color: #dce1eb;
  --gray-white-variant-color: #fbfbfc;
  --gray-color: rgb(179, 179, 179);
  --dark-gradient: rgba(0,0,0,0.7);

  --font: 'Nunito Sans', sans-serif;
  --radius: 5px;
  --transition: 0.2s ease;
  --border: 1px solid var(--gray-color);
  --shadow: 0px 0px 5px 0px #ccc;
  --shadow-down: 0px 4px 5px 0px #ccc;

}

/* Normalized Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font);
  font-size: 14px;
}